@charset "utf-8";
@import 'layout';

/* 
* 피스 버튼 : pBtn (var(--primary-color))
* 카톡 버튼 : kakao (#FDE500)
* google 버튼 : google
* 검정 버튼 : black
* 하얀 버튼 : white
* 삭제 버튼 : pink (#FFC3B7)
* 
*/

.pBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
  color: #fff;
  background-color: var(--primary-color);
  height: 50px;
  line-height: 50px;
  width: 100%;
  &:hover {
    background-color: #679fff;
  }
  &.kakao {
    display: flex; justify-content: center; align-items: center;
    color: #000;
    background-color: #FDE500;
    &:hover {
      background-color: #fff27f;
    }
    .ico{width: 18px; height: 18px; display: block; margin-right: 4px;
    background-image: url('./img/kakao.png');
    background-size: contain; background-position: center; background-repeat: no-repeat;}
  }
  &.google {
    display: flex; justify-content: center; align-items: center;
    color: #000;
    background-color: #ffffff;
    &:hover {
      background-color: #e1e1e1;
    }
    .ico{width: 14px; height: 14px; display: block; margin-right: 4px;
      background-image: url('./img/google.png');
      background-size: contain; background-position: center; background-repeat: no-repeat;}
  }
  &.black {
    color: #fff;
    background-color: #08080a;
    &:hover {
      background-color: #3d3d45;
    }
  }
  &.pink {
    color: #fff;
    background-color: #fc6b4e;
    &:hover {
      background-color: #ff917b;
    }
  }
}

/*
스크롤바 css 커스텀
*/

/* 스크롤바의 전체 트랙 */
::-webkit-scrollbar {
  width: 6px; /* 스크롤바의 너비 */
  height: 6px; /* 수평 스크롤바의 높이 */
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
  background: #ffffff94; /* 트랙의 배경색 */
  border-radius: 10px; /* 트랙의 모서리 둥글기 */
}

/* 스크롤바의 핸들 */
::-webkit-scrollbar-thumb {
  background: #fcdbe9; /* 핸들의 배경색 */
  border-radius: 10px; /* 핸들의 모서리 둥글기 */
}

/* 스크롤바 핸들 위에 마우스를 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
  background: #bebebe; /* 핸들의 배경색 (hover 상태) */
}

/*
* 팝업 css
*/
.css-zw3mfo-MuiModal-root-MuiDialog-root{position: absolute !important;}
.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop{position: absolute !important; }
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{font-size: 1rem !important;}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{width: 100%;}

// 팝업 > 댓글 팝업
.commnetBox{
  li{@include flex-between; padding: 0 0 16px;
    .circle{
      width: 30px; height: 30px; border: 1px solid #c7c7c79c;
      border-radius: 50%; 
      background-image: url('./img/young.jpeg');
      @include background-img; background-size: cover; flex: 0 0 auto;
    }
    .text{
      font-size: 12px; width: calc(100% - 52px); padding-left: 16px;
      > * {line-height: 16px; word-break: break-all;}
      .date{
        color: rgb(85, 85, 85); font-size: 10px; display: inline-block; margin-left: 4px;
      }
    }
    .heart {width: 20px; flex: 0 0 auto; margin-left: 16px; cursor: pointer;} 
    &:last-child{padding: 0 0 0;}
  }
}


// 테스트
/* 기본 목록 스타일 */
.setting-menu {
  list-style: none; /* 기본 목록 마커 제거 */
  padding: 0; /* 내부 패딩 제거 */
  margin: 0; /* 외부 여백 제거 */
  font-size: 14px;
  position: absolute;
  // width: 80px;
  text-align: center; 
  left: -110px; top: 20px; background-color: #fff; 
  border: 1px solid #3d3d45;
  border-radius: 10px;
}

.menu-item {
  padding: 10px; /* 각 항목의 상하 여백 설정 */
  border-bottom: 1px solid #ddd; /* 항목 사이의 구분선 설정 */
}

.menu-item:last-child {
  border-bottom: none; /* 마지막 항목의 하단 구분선 제거 */
}

/* 마우스 오버 시 배경 색상 변경 */
.menu-item:hover {
  color: #679fff;
}

